body{
    margin: 0;
    background-color: rgb(49, 99, 122);
    font-family: sans-serif;
}
.todo-container{
    width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 5rem;
}
.input-section{
    background-color: rgb(49, 99, 122);
    padding: 18px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #1e1e1e;
}
h1{
    margin: 0;
    margin-bottom: 15px;
    color: #6b93a6;

}
.input-section input{
    border-radius: 5px;
    border: 2px solid rgb(49,99,122);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px #1e1e1e;
    background-color:  rgb(49, 99, 122);
    color: #07070785;
    font-weight: bold;
}
input::placeholder{
    color: #6b93a6;
}
ul{
    padding: 0;
    text-align: left;
}
ul li{
    list-style: none;
    background-color:  rgb(49, 99, 122);
    padding: 15px;
    border: 2px solid rgb(49,99,122);
    border-radius: 5px;
    margin-bottom: 10px;
    color: #6b93a6;
    box-shadow: 1px 1px 10px #1e1e1e;
    font-weight: bold;
    display: flex;
    overflow: inherit;

}
ul li div{
	text-align: right;
    flex: 1;
    align-items: center;
    cursor: pointer;
    margin-right: 5px;
}
ul li div i{
    margin-left: 13px;
}    
#trash {
    transition: 0.6s ease-in-out;
}
#trash:hover{
    transform: scale(150%);
}
#edit {
    transition: 0.6s ease-in-out;
}
#edit:hover{
    transform: scale(150%);
}
